body {
    background-color: #FFFDF8;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
margin-top: 110px;
margin-top: 0px;
    width: 750px;
    height: 450px;
    background: darkorange;
    border: 1px solid #e7e7e7;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.container .left {
    width: 50%;

}

.container .left p {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 150px;
}

.container .right {
    width: 50%;
    background-color: #FFFDF8;
    box-sizing: border-box;
    border-radius: 0px 50px 50px 0px;

}

.container .right h1 {
    margin-top: 50px;
}

.container .right input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    background-color: #FFFCFC;
}

.container .right .info {
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 30px;
}

.container .right button {
    width: 300px;
    height: 30px;
    margin-left: 28px;
    background-color: #FFFCFC;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.container .right button:hover {
    background: darkorange;

}

/* ---- Media Query Mobile ---- */
@media screen and (max-width: 600px) {

    body {
        padding: 0;
        margin: 0;
        display: block;
        background-color: darkorange;

    }

    .container {
        flex-direction: column;
        width: 90%;
        height: auto;
        margin-left: 20px;
        margin-top: 150px;
        border-radius: 20px;
    }

    .container .left,
    .container .right {
        width: 100%;
    }

    .container .left {
        display: none;
    }

    .container .right {
        border-radius: 20px;
        padding-bottom: 20px;
    }

    .container .right h1 {
        margin-top: 20px;
        font-size: 24px;
    }

    .container .right .info {
        margin-left: 20px;
        margin-top: 20px;
    }

    .container .right input {
        width: 90%;
        height: 35px;
    }

    .container .right button {
        width: 90%;
        height: 40px;
        margin-left: 5%;
        font-size: 16px;
    }

    a {
        margin-left: 5%;
    }
}